<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="The Official U Nightlife Website">
<meta name="keywords" content="U Nightlife, University Nightlife, Nightlife, College, University, Events, Landing page, App, Mobile">
<meta name="author" content="Nathan Grotticelli">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- SITE TITLE -->
<title>Hosts</title>

<!-- =========================
      FAV AND TOUCH ICONS
============================== -->
<link rel="icon" href="images/favicon2.ico">
<link rel="apple-touch-icon" href="images/favicon2.ico">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="stylesheet" href="images/animate.min.css">


<!-- =========================
     STYLESHEETS
============================== -->
<!-- BOOTSTRAP -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!-- FONT ICONS -->
<link rel="stylesheet" href="assets/elegant-icons/style.css">
<link rel="stylesheet" href="assets/app-icons/styles.css">
<!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->

<!-- WEB FONTS -->
<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'>


<!-- ANIMATIONS -->
<link rel="stylesheet" href="css/animate.min.css">

<!-- CUSTOM STYLESHEETS -->
<link rel="stylesheet" href="css/styles.css">

<!-- COLORS -->
<link rel="stylesheet" href="css/colors/blue.css"> <!-- DEFAULT COLOR/ CURRENTLY USING -->
<!-- <link rel="stylesheet" href="css/colors/red.css"> -->
<!-- <link rel="stylesheet" href="css/colors/green.css"> -->
<!-- <link rel="stylesheet" href="css/colors/purple.css"> -->
<!-- <link rel="stylesheet" href="css/colors/orange.css"> -->
<!-- <link rel="stylesheet" href="css/colors/blue-munsell.css"> -->
<!-- <link rel="stylesheet" href="css/colors/slate.css"> -->
<!-- <link rel="stylesheet" href="css/colors/yellow.css"> -->

<!-- RESPONSIVE FIXES -->
<link rel="stylesheet" href="css/responsive.css">


<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
<![endif]-->

<!-- JQUERY -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body class="hostPage">
<!-- =========================
     PRE LOADER
============================== -->
<div class="preloader">
  <div class="status">&nbsp;</div>
</div>

<!-- =========================
     HEADER
============================== -->
<div class="header2" data-stellar-background-ratio="0.5" id="home">

<!-- COLOR OVER IMAGE -->
<div class="color-overlay"> <!-- To make header full screen. Use .full-screen class with color overlay. Example: <div class="color-overlay full-screen">  -->

  <!-- STICKY NAVIGATION -->
  <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
    <div class="container">
      <div class="navbar-header">

        <!-- LOGO ON STICKY NAV BAR -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand uBtn logo" href="/"><img src="images/logo.gif">Home</a>

      </div>

      <!-- NAVIGATION LINKS -->
      <div class="navbar-collapse collapse" id="kane-navigation">
        <ul class="nav navbar-nav navbar-right main-navigation">
          <li><a href="#home">Top</a></li>
          <li><a href="#services">Why</a></li>
          <li><a href="#download">Contact</a></li>
        </ul>
      </div>
    </div> <!-- /END CONTAINER -->
  </div> <!-- /END STICKY NAVIGATION -->


  <!-- CONTAINER -->
  <div class="container">

    <div class="">
      <div class="phone-image wow bounceIn animated" data-wow-offset="120" data-wow-duration="1.5s">
        <img class="hostPhone" src="images/single-iphone.png" alt="">
      </div>
    </div>
    </div> <!-- /END ONLY LOGO ON HEADER -->



    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <!-- HEADING AND BUTTONS -->
        <div class="intro-section">

          <!-- WELCOM MESSAGE -->



          <!-- BUTTON -->
          <div class="buttons" id="download-button">

            <a href="#services" class="btn btn-default thing3 btn-lg standard-button"><i class="arrow_carrot-down_alt2"></i></a>

          </div>
          <!-- /END BUTTONS -->

        </div>
        <!-- /END HEADNING AND BUTTONS -->

      </div>
    </div>
    <!-- /END ROW -->

  </div>
  <!-- /END CONTAINER -->
</div>
<!-- /END COLOR OVERLAY -->
</div>
<!-- /END HEADER -->









<!-- =========================
     SERVICES
============================== -->
<section class="services" id="services">

<div class="container">

  <!-- SECTION HEADER -->
  <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

    <!-- SECTION TITLE -->
    <h2 class="white-text">Why you should "Add an Event" on the mobile app:</h2>

    <div class="colored-line">
    </div>

    <div class="colored-line">
    </div>

  </div>
  <!-- /END SECTION HEADER -->

  <div class="row">

      <!-- SINGLE SERVICE -->
    <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

      <!-- SERVICE ICON -->
      <div class="service-icon">
        <i class="icon_wallet"></i>
      </div>

      <!-- SERVICE HEADING -->
      <h3>The Cost</h3>

      <!-- SERVICE DESCRIPTION -->
      <p>
         Promoting an event on U Nightlife costs nothing, and takes less time than any other medium.
      </p>

    </div>
    <!-- /END SINGLE SERVICE -->

    <!-- SINGLE SERVICE -->
    <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

      <!-- SERVICE ICON -->
      <div class="service-icon">
        <i class="icon_mic_alt"></i>
      </div>

      <!-- SERVICE HEADING -->
      <h3>The Audience</h3>

      <!-- SERVICE DESCRIPTION -->
      <p>
        Thousands of students, and only students, will have your event info in their hands.
      </p>

    </div>
    <!-- /END SINGLE SERVICE -->



    <!-- SINGLE SERVICE -->
    <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

      <!-- SERVICE ICON -->
      <div class="service-icon">
        <i class="icon_lifesaver"></i>
      </div>

      <!-- SERVICE HEADING -->
      <h3>The Convenience</h3>

      <!-- SERVICE DESCRIPTION -->
      <p>
         Events already take a lot of work, so spreading the word about them shouldn't.
      </p>
<!--
       Events already take a lot of work, so spreading the word about them shouldn't. Getting your event into student's hands, and only student's hands, takes just seconds, including optional synchronization with Maps to give exact directions. -->

    </div>
    <!-- /END SINGLE SERVICE -->

  </div>
  <!-- /END ROW -->

</div>
<!-- /END CONTAINER -->
  <h1>Contact Us:</h1>
</section>
<!-- /END FEATURES SECTION -->




<!-- =========================
     FOOTER
============================== -->

<section id="download">
  <footer>
<div class="container" >

  <div class="contact-box wow rotateIn animated" data-wow-offset="10" data-wow-duration="1.5s">

    <!-- CONTACT BUTTON TO EXPAND OR COLLAPSE FORM -->

    <a class="btn contact-button expand-form"><i class="icon_mail_alt"></i></a>

    <!-- EXPANDED CONTACT FORM -->
    <div class="row expanded-contact-form">

      <div class="col-md-8 col-md-offset-2">

        <!-- FORM -->
        <form class="contact-form" id="contact" action="/contactSend" method="post">

          <!-- IF MAIL SENT SUCCESSFULLY -->
          <h4 class="success">
            <i class="icon_check"></i> Your message has been sent successfully.
          </h4>

          <!-- IF MAIL SENDING UNSUCCESSFULL -->
          <h4 class="error">
            <i class="icon_error-circle_alt"></i> E-mail must be valid and message must be longer than 1 character.
          </h4>

          <div class="col-md-6">
            <input class="form-control input-box" id="name" type="text" name="name" placeholder="Your Name">
          </div>

          <div class="col-md-6">
            <input class="form-control input-box" id="email" type="email" name="email" placeholder="Your Email">
          </div>

          <div class="col-md-12">
          <input class="form-control input-box" id="subject" type="text" name="subject" placeholder="Subject">
            <textarea class="form-control textarea-box" id="message" name="message" rows="8" placeholder="Message"></textarea>
          </div>

          <button class="btn btn-primary standard-button2 ladda-button" type="submit" id="submit" name="submit" data-style="expand-left">Send Message</button>

        </form>
        <!-- /END FORM -->

      </div>

    </div>
    <!-- /END EXPANDED CONTACT FORM -->

  </div>
  <!-- /END CONTACT BOX -->

  <!-- LOGO -->
  <img src="images/logo.png" alt="LOGO" class="logo responsive-img">

  <!-- SOCIAL ICONS -->
  <ul class="social-icons">
    <li><a href="https://www.facebook.com/RealUniversityNightlife"><i class="social_facebook_square"></i></a></li>
    <li><a href="https://twitter.com/RealUNightlife"><i class="social_twitter_square"></i></a></li>

    <!-- <li><a href="http://instagram.com/universitynightlife"><i class="social_instagram_square"></i></a></li> -->

  </ul>

  <!-- COPYRIGHT TEXT -->
  <p class="copyright">
    ©2014 U Nightlife, LLC. All Rights Reserved.
  </p>

</div>
<!-- /END CONTAINER -->
</footer>
</section>
<!-- /END FOOTER -->


<!-- =========================
     SCRIPTS
============================== -->

<script src="js/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.localScroll.min.js"></script>

<script src="js/simple-expand.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/retina-1.1.0.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/matchMedia.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/custom.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52311703-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
